<%= form_for(@student) do |f| %>
    <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% @student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="fname">
      <%= f.label :fname %><br />
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :profile_pic %><br>
      <%= f.file_field :profile_pic %>
    </div>
    <div>
      <%= f.label :remove_profile_pic %><br>
      <%= f.check_box :remove_profile_pic %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>