<h1>Listing students</h1>

<table>
  <thead>
  <tr>
    <th>Fname</th>
    <th>Lname</th>



    <th>Profile Pic</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @students each do |f| %>
      <tr>
        <td><%= f.fname %></td>
        <td><%= f.lname %></td>
        <td><% if f.profile_pic? %>
              <%= link_to "profile_pic", f.profile_pic.url %>
          <% end %> </td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
