  <body>
    <header>
      <img src="http://i.imgur.com/hV6KtlN.png?1">
      <p id="the">The</p>
      <p id="yardBook">YARD</p>
      <p id="yardBook">BOOK</p>

    </header>

    <nav>
      <%= link_to "Login", new_user_session_path, class: "navButton" %>
    </nav>


    <div id="mainContainer">
      <% @admins.each do |user| %>
        <% if user.profile_pic? %>
        <div class="hexContainer"  >
        <% else %>
        <div class="hexContainer">
        <% end %>
          <%= link_to(user) do %>
          <div class="hexagon" style="background-image: url('<%= user.profile_pic.url %>'); background-repeat:no-repeat">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="mainContainer">
      <% @students.each do |user| %>
        <% if user.profile_pic? %>
        <div class="hexContainer" style="background-image: url('<%= user.profile_pic.url %>'); background-repeat:no-repeat" >
        <% else %>
        <div class="hexContainer">
        <% end %>
          <%= link_to(user) do %>
          <div class="hexagon">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= javascript_include_tag  "games/messages.js" %>

  </body>
